*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body{
    background: rgb(226, 226, 226);
    min-width:500px;
}

a{
    color: grey;
    font-weight: bold;
}

/*=================Navegação==============*/

header{
    margin: auto;
    width: 65%;
}

header img{
    width: 120px;
    text-align: left;
    border-radius:20px;
    margin-top: 10px;
}

header .block{
    margin-top: 60px;
    float: right;
}

.block img{
    width: 20px;
}


.navegacao{
    text-align: right;
    margin-bottom: 10px;
}

.navegacao li{
    display: inline-block;
    margin:0px 10px;
}

.navegacao li a:hover{
    transition: 0.5s;
    color: black;
}


nav .hidden{
    display: none;
    margin-top: 20px;
    float: right;
}

nav .hidden img{
    width: 50px;
    cursor: pointer;
    
}


.navegacao_hidden {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    background: white;
    width: 180px;
    margin: 20px 60px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    animation: menu .3s;
}

.navegacao_hidden li{
    display: block;
    text-align: center;
    margin: 10px;
    border-bottom: 1px solid grey;
}


.navegacao_hidden li a{
    color: black;
}

.contato{
    background: lightgrey;
    border-radius: 5px;
}

.contato img{
    width: 15px;

}

.fechar{
    padding: 10px;
    background: red;
    color: white;
    margin: 15px ;
    border-radius:10px ;
    cursor: pointer;
}

@keyframes menu {

    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0,0,0);

    }
}


/*====================Sessão====================*/


.sessao{
    width: 67%;
    margin: auto;
    display: flex;
    justify-content:center;
}


.caixa-sessao{
    width: 90%;
    margin: 20px 10px;
    padding:5px;
    border-bottom: 2px solid grey;
    text-align: center;
    background-color:rgba(196, 196, 196, 0.301);
    border-radius: 5px;
}


.caixa-sessao img{
    width: 60%;
    height: 350px;
    border-radius: 5px;
}

.caixa-sessao h2{
    color: rgb(39, 39, 39);
    margin: 5px;
    font-size: 28px;
    font-style: italic;
}

.caixa-sessao p{
    background: rgb(40, 43, 49);
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    margin: auto;
    font-size: 17px;
    color: white;

}

/*======================Rodapé======================*/


footer{
width: 67%;
margin:30px auto;
box-shadow: 1px 3px 9px grey;
padding: 15px;

}

.sobre-nos{
width: 50%;
display: inline-block;
margin: 10px;
}

.sobre-nos h3{
color: rgb(51, 51, 51);
}

.sobre-nos p{
margin-top: 10px;
font-size: 13px;
font-weight: 600;
color: rgb(83, 82, 82);

}

.imagem{
width: 120px;
height: 100px;
border-radius: 5px;
display: inline-block;
}

.caixa-acesso{
width: 30%;
display: inline-block;
text-align: left;
margin-left: 15px;
}

.redes-sociais img{
width: 20px;
margin: 2px 2px;
}

.caixa-acesso h3{
color: rgb(51, 51, 51);
margin: 5px;
}

.redes-sociais a{
color: rgb(83, 82, 82);
margin: 5px;
font-size: 15px;
}

/*======================Direitos-Reservados======================*/


#direitos-reservados{
width: 67%;
margin: auto;

}

#direitos-reservados img{
width: 20px;
}

#direitos-reservados p{
display: inline-block;
font-size: 13px;
}

#direitos-reservados p:last-of-type{
float: right;
margin-bottom: 5px;
font-size: 12px;
}

nav .hidden{
display: none;
}


/*======================Media Queries======================*/


@media(max-width:1150px){

.caixa-acesso{
    display: block;
    width: 100%;
    margin:0;
}

.sobre-nos{
   width: 70%;
   margin:0;

}

}

@media(max-width:1000px){

.navegacao{
    display: none;
}

nav .block{
    display: none;
}


nav .hidden{
    display: block;
    border-bottom: 2px solid grey;
}

.sessao{
    width: 80%;
}

.caixa-sessao{
    width: 100%;
}


}


@media(max-width:910px){


.caixa-sessao{
    width: 70%;
}

.caixa-sessao img{
    width: 90%;
}

.caixa-sessao p{
    width: 90%;
}
}


@media(max-width:635px){

.caixa-sessao{
    width: 100%;
}

.caixa-sessao img{
    width: 90%;
}

.navegacao_hidden {
    margin: 20px 0px;
}


.sobre-nos{
   width: 100%;
}

.imagem{
margin: auto;
display: block;

}

#direitos-reservados p:last-of-type{
   float: left;
}

} 